<form (ngSubmit)="onSubmit()" #uploadForm="ngForm">
    <div class="form-group">
        <label for="videoFile">Video File</label>
        <input type="file" id="videoFile" (change)="onFileSelected($event)" name="videoFile" required
            accept="video/*" />
    </div>
    <div class="form-group checkbox-group">
        <label for="asciiFilter">Apply ASCII filter?</label>
        <input type="checkbox" id="asciiFilter" [(ngModel)]="videoData.apply_ascii_filter" name="applyAsciiFilter" />
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" [(ngModel)]="videoData.title" name="title" required />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" [(ngModel)]="videoData.description" name="description" required></textarea>
    </div>
    <div class="form-group">
        <label for="likes">Likes</label>
        <input type="number" id="likes" [(ngModel)]="videoData.likes" name="likes" required min="0" />
    </div>

    <button type="submit" class="btn-submit">Upload Video</button>
</form>
