/* Base styles */
.player-suggestions-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styles for desktop screens */
@media (min-width: 768px) {
    .player-suggestions-container {
        flex-direction: row;
    }

    app-videoplayer {
        flex: 0 0 60%;
    }

    .video-suggestions {
        flex: 1;
    }
}

/* Styles for smaller screens */
@media (max-width: 767px) {
    .player-suggestions-container {
        flex-direction: column;
    }

    app-videoplayer {
        width: 100%;
        /* Takes up 100% of the screen width */
    }

    .video-suggestions {
        width: 100%;
        /* Takes up 100% of the screen width */
    }
}
