<div>
    <video controls width="100%" height="auto" playsinline="true" webkit-playsinline="true"
        [src]="videoDataDetailed?.video_file" type="video/mp4">
    </video>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h1>{{ videoDataDetailed?.title || 'No Video Selected' }}</h1>
            <p>{{ videoDataDetailed?.description || 'No description available.' }}</p>
        </div>
        <div style="text-align: right;">
            <p>Uploader: {{ videoDataDetailed?.uploader || 'Unknown' }}</p>
            <p>Likes: {{ videoDataDetailed?.likes || 'N/A' }}</p>
        </div>
    </div>
