<div>
    <video controls width="100%" height="auto">
        <source [src]="videoDataDetailed.videoUrl" type="video/mp4">
    </video>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h1>{{ videoDataDetailed.title }}</h1>
            <p>{{ videoDataDetailed.description }}</p>
        </div>
        <div style="text-align: right;">
            <p>Uploader: {{ videoDataDetailed.uploader }}</p>
            <p>Likes: {{ videoDataDetailed.likes }}</p>
        </div>
    </div>
